<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
<script src="https://cdn.tailwindcss.com"></script>
</head>


<style>
    #dv {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll;
      }
      #dv::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
</style>

<body class="md:bg-gradient-to-r from-gray-900 via-black to-blue-500 bg-gradient-to-r from-gray-900 via-black to-blue-500 md:px-10  ">

<!-- main div -->
<div id="contm" class="main  md:w-full md:h-auto  md:text-gray-800      m-0 md:m-0  w-full h-auto  text-gray-800   ">



    <!-- navbar div -->

 <div class="navbar  w-full h-[70px]  px-2 items-center flex justify-between relative  md:w-full md:h-[150px]   md:items-center md:flex md:justify-between md:relative  ">

    <div id="conta" class="logo flex   gap-2 items-center md:flex   md:gap-4 md:items-center ">
        <img class="rounded-full w-[25px] object-cover object-center h-[25px] md:rounded-full md:w-[50px] md:object-cover md:object-center md:h-[50px]" src="https://logopond.com/avatar/290451/NEWARTA.jpg" alt="" srcset="">
        <h1 class="text-lg  font-thin text-white md:text-2xl  md:font-thin md:text-white">Artics</h1>
    </div>
    <div id="contnavl" class="flex gap-2 md:flex md:gap-6">
        <a  class="  text-xs font-thin text-white md:text-base md:font-thin md:text-white" href="#">Home</a>
       
        <a class="  text-xs font-thin text-white md:text-base md:font-thin md:text-white" href="/service">Service</a>
        <a class="  text-xs font-thin text-white md:text-base md:font-thin md:text-white" href="/aboutus">About Us</a>
    </div>
    <div class=" flex gap-2 items-center md:flex md:gap-3 md:items-center">
        <div id="sign" class=" px-2 bg-white py-1 rounded-md md:block md:px-4 md:bg-white md:py-2 md:rounded-lg  ">
            <a href="/signup">

                
              <h1 class="text-xs font-semibold uppercase text-black md:text-base md:font-semibold md:uppercase md:text-black" id="log">
                login
              </h1>
                
          
            
          
        </a>
        </div>
        <div class="border-[1px]  border-tb-[1px] py-2 md:border-[1px]  md:border-tb-[1px] md:py-4"></div>
        
        <%user.forEach(function(user){ %>
        <div class="contact  ">
            
          <button id="btn" onclick="myfunction()" class=" items-center w-[25px]      text-black bg-white rounded-full  md:items-center md:w-[50px] md:py-2     md:text-black md:bg-white md:rounded-full">
  
                <h1 id="num" class="text-md font-semibold uppercase md:text-xl md:font-semibold md:uppercase"><%=user.username.charAt(0)%></h1>
  
                 
                </button>
        </div>

        <div id="profile" class="w-[150px] hidden border-[1px] backdrop-blur-md h-[200px] rounded-xl z-30 absolute top-8 px-2 py-2 left-[185px] md:w-[300px] md:hidden md:border-[1px] md:backdrop-blur-md md:h-[400px] md:rounded-3xl md:z-30 md:absolute md:top-14 md:px-2 md:py-2 md:left-[1130px]  ">
            <img id="img" class="w-[20px] h-[20px]  absolute right-0  rounded-md md:w-[40px] md:h-[40px]  md:absolute md:right-0 md:rounded-xl " src="../images/—Pngtree—red cross symbol_5938373.png" alt="">

            <!-- profile -->
<div class="w-[125px] h-[25px] flex gap-2 md:w-[250px] md:h-[50px] md:flex md:gap-4 ">
 
    <div class="items-center w-[25px] px-2 py-1  border-[1px]    text-black bg-white rounded-full md:items-center md:w-[50px] md:px-4 md:py-2  md:border-2    md:text-black md:bg-white md:rounded-full">
        <h1  class="text-xs font-semibold uppercase items-center md:text-xl md:font-semibold md:uppercase"><%=user.username.charAt(0)%></h1>
    </div>

            <div class="w-[90px] h-[25px] py-1 items-center bg-black rounded-sm md:w-[180px] md:h-[50px] md:py-2 md:items-center md:bg-black md:rounded-md">
                <center>
<h1 class="text-white font-thin text-[8px] capitalize md:text-white md:font-thin md:text-lg md:capitalize ">
    <%=user.username%>
</h1>
</center>
</div>
<!--  -->
</div>

<!-- email -->
 
        <div class="w-[120px] rounded-md ml-1 h-[25px] border-[1px] py-1  mt-5 md:w-[240px] md:rounded-md md:ml-2 md:h-[50px] md:border-[1px] md:py-2 md:mt-10">
            <center>
                <h1 class="text-white font-thin text-[7px] lowercase md:text-white md:font-thin md:text-base md:lowercase "><%=user.email%> </h1>
            </center>
 </div>
 <div class="w-[120px] rounded-md ml-1 h-[25px] border-[1px] py-1  mt-5 md:w-[240px] md:rounded-md md:ml-2 md:h-[50px] md:border-[1px] md:py-2 md:mt-10">
    <center>
        <a href="/read">
        <h1 class="text-white font-thin text-[7px] lowercase md:text-white md:font-thin md:text-base md:lowercase ">
            YOUR ARTICLE </h1>
    </a>
    </center>
</div>
<div class="w-[120px] rounded-md ml-1 h-[25px] border-[1px] py-1  mt-5 md:w-[240px] md:rounded-md md:ml-2 md:h-[50px] md:border-[1px] md:py-2 md:mt-10">

    <center>
        <a href="/logout/<%=user.id%>">
        <h1 class="text-white font-thin text-[7px] lowercase md:text-white md:font-thin md:text-base md:lowercase ">
            logout </h1>
    </a>
    </center>

</div>

        </div>
        <%})%>
       
    </div>
</div>

<!-- discover section -->
<section class=" px-4 md:px-0" >

<div id="contd" class="section  w-full h-[400px] mt-4 py-6 px-5 rounded-2xl border-[1px] md:w-full md:h-[400px] md:mt-4 md:py-12 md:px-10 md:rounded-2xl md:border-[1px]">

<div class="content flex justify-between md:flex md:justify-between">

 <div class="subsection1">
    <h1 class="text-5xl  font-semibold text-white md:text-5xl  md:font-semibold md:text-white">
    Discover Nice Articles Here
    </h1>
    <br>
     <p class="text-[8px]  font-thin text-white md:text-base  md:font-thin md:text-white">
        Artics is a comprehensive article website that serves as a hub for diverse and insightful content across various domains.
     </p>
<br>
      <p class="text-[8px]  font-thin text-white md:text-base  md:font-thin md:text-white">

        Whether you're looking for the latest trends in technology, in-depth analysis of current events.
    </p>
  </div>
  <div class="subsection2  flex gap-4 md:flex md:gap-4">
    <div class=" md:inline-block  ">
        <img class=" w-[80px] rounded-3xl  object-cover object-center h-[25px] md:rounded-full md:w-[50px] md:object-cover md:object-center md:h-[50px]" src="https://cdn.mos.cms.futurecdn.net/z3bn6deaxmrjmQHNEkpcZE-1200-80.jpg" alt="" srcset="">
    </div>
    <div class="inline-block">
        <img class="rounded-full w-[80px] object-cover object-center h-[25px] md:rounded-full md:w-[50px] md:object-cover md:object-center md:h-[50px]" src="https://t3.ftcdn.net/jpg/04/74/05/94/360_F_474059464_qldYuzxaUWEwNTtYBJ44VN89ARuFktHW.jpg" alt="" srcset="">
    </div>
  </div>
</div>

<div id="contd1" class="mt-14   gap-2 flex  text-white md:mt-28 md:ml-20 md:inline-block md:gap-24 md:flex  md:text-white">

    <a class="px-1 py-1 transition ease-in-out delay-150 rounded-xl text-[8px] bg-blue-700 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300  md:px-4 md:py-2 transition md:text-base md:ease-in-out md:delay-150 md:rounded-3xl md:bg-blue-700 md:hover:-translate-y-1 md:hover:scale-110 md:hover:bg-indigo-500 md:duration-300  " href="/all">All</a>


    <a class="transition ease-in-out delay-150 px-1 py-1 rounded-xl text-[8px] bg-blue-700 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300  md:transition md:ease-in-out md:delay-150  md:text-base md:px-4 md:py-2 md:rounded-3xl md:bg-blue-700 md:hover:-translate-y-1 md:hover:scale-110 md:hover:bg-indigo-500 md:duration-300  " href="/technology">Technology</a>

    <a class="transition ease-in-out delay-150 px-1 py-1 rounded-xl text-[8px] bg-blue-700 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300  md:transition md:ease-in-out md:delay-150  md:text-base md:px-4 md:py-2 md:rounded-3xl md:bg-blue-700 md:hover:-translate-y-1 md:hover:scale-110 md:hover:bg-indigo-500 md:duration-300  " href="/sports">Sports</a>

    <a class="transition ease-in-out delay-150 px-1 py-1 rounded-xl text-[8px] bg-blue-700 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300  md:transition md:ease-in-out md:delay-150  md:text-base md:px-4 md:py-2 md:rounded-3xl md:bg-blue-700 md:hover:-translate-y-1 md:hover:scale-110 md:hover:bg-indigo-500 md:duration-300  " href="/design">Design</a>

    <a class="transition ease-in-out delay-150 px-1 py-1 rounded-xl text-[8px] bg-blue-700 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300  md:transition md:ease-in-out md:delay-150  md:text-base md:px-4 md:py-2 md:rounded-3xl md:bg-blue-700 md:hover:-translate-y-1 md:hover:scale-110 md:hover:bg-indigo-500 md:duration-300 " href="/programming">Programming</a>

    <a class="transition ease-in-out delay-150 px-1 py-1 rounded-xl text-[8px] bg-blue-700 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300  md:transition md:ease-in-out md:delay-150  md:text-base md:px-4 md:py-2 md:rounded-3xl md:bg-blue-700 md:hover:-translate-y-1 md:hover:scale-110 md:hover:bg-indigo-500 md:duration-300   " href="/engneering">Engneering</a>
</div>
</div>

<!-- username div and image-->

<div class="main3  w-full relative py-3 px-5 h-[250px] border-[1px]  rounded-xl  mt-10
md:bg-white md:bg-opacity-20 md:w-full md:relative md:py-12 md:px-10 md:h-[250px] md:border-[1px]  md:rounded-3xl  md:mt-10">
<center>
    <div id="contui" class="w-[120px] h-[30px] flex justify-center gap-2  items-center px-2   bg-white rounded-xl md:w-[200px] md:h-[60px] md:flex md:justify-between  md:items-center md:px-2 md:pr-12  md:bg-white rounded-3xl">
        <img class="rounded-full w-[25px] object-cover object-center h-[25px] rounded-full md:w-[50px] md:object-cover md:object-center md:h-[50px]" src="https://pics.craiyon.com/2023-07-05/fc5f288ac75d46d99a3cf1d77175504f.webp" alt="">
      <div  class=" whitespace-nowrap">
        <%user.forEach(function(user){ %>
        <h1 id="contuih" class="font-semibold text-[10px] capitalize md:font-semibold md:text-base md:capitalize  ">
            <%=user.username%>
        </h1>
        <%})%>
    </div>
    </div>
    <div id="contuid" class="  font-thin text-white mt-2 box-shadow-md  inline-block  md:font-thin md:text-white md:mt-5 md:box-shadow-md  md:inline-block  ">
        <h1 class="font-semibold text-white tracking-tight text-xl md:font-semibold md:text-white md:tracking-tight md:text-3xl">Our platform is designed to cater to a wide audience, providing high-quality articles </h1>
        
        <p class="text-[10px] mt-2 md:text-xs md:mt-2">Artics is a promising article website that excels in delivering diverse, high-quality content. With a few tweaks in update frequency, depth, mobile optimization, and author transparency</p>
       
        <p class="text-[10px] mt-2 md:text-xs md:mt-2">it could become a leading source of information and inspiration for a broad audience. Whether you're a casual reader or an avid knowledge seeker</p>
    </div>
</center>
</div>
</section>
<!-- celebratiy div -->

<div class="md:bg-no-repeat md:block hidden md:bg-black md:bg-opacity-30 md:rounded-lg md:bg-cover md:items-center md:pt-12  md:mt-20  md:w-full md:h-[700px]">

    <!-- 1scard line -->
<div id="contsharuk" class="flex justify-center items-center gap-2 ">
    <!-- 1 -->
<div  class="  w-[300px] h-[300px] hover:opacity-80  shadow-lg overflow-hidden  backdrop-filter backdrop-blur-sm bg-opacity-20 rounded-tr-3xl  bg-white" >
    <div id="w1" class=" shadow-lg shadow-slate-500 relative z-0 inline-block ">
        <img  class="  object-cover object-top realtive w-[300px]  h-[300px] " src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Shah_Rukh_Khan_graces_the_launch_of_the_new_Santro.jpg/330px-Shah_Rukh_Khan_graces_the_launch_of_the_new_Santro.jpg" alt="">
      </div>
      <div id="b1" class="  hidden bg-black duration-500 transition ease-in-out delay-500 p-4 bg-opacity-40 w-[300px] absolute z-20 bottom-0 h-[100px]">
          <center>
      <h1 class="text-white underline underline-offset-8 ">
        Shah Rukh Khan 
      </h1>
      
      <p class="text-white text-sm font-thin mt-2 tracking-tight">
        Khan began his career with appearances in several television series in the late 1980s
      </p>
      </center>
      </div>

</div>
<!-- 2 -->
<div class="  w-[300px] h-[300px]  shadow-lg hover:opacity-80    backdrop-filter backdrop-blur-sm bg-opacity-20 rounded-tr-full  bg-white overflow-hidden">
    <!-- image -->
    <div id="w2" class=" shadow-lg shadow-slate-500 relative z-0 inline-block ">
  <img class="object-cover object-center realtive w-[300px]  h-[300px] " src="https://imageio.forbes.com/specials-images/imageserve/66a67b860d189a3926307b80/Marvel-Studios-Panel-At-SDCC/960x0.jpg?format=jpg&width=960" alt="">
</div>
<div id="b2" class=" hidden bg-black p-4 bg-opacity-40 w-[300px] absolute z-20 bottom-0 h-[100px]">
    <center>
<h1 class="text-white underline underline-offset-8 ">
Dr DOOM
</h1>

<p class="text-white text-sm font-thin mt-2 tracking-tight">
    Doctor Doom (Dr. Victor von Doom) is a supervillain appearing in American
</p>
</center>
</div>
    </div>

<!-- 3 -->
<div class="  w-[300px] h-[300px] hover:opacity-80  shadow-lg overflow-hidden  backdrop-filter backdrop-blur-sm bg-opacity-20 rounded-r-3xl  bg-white">
    <div id="w3" class=" shadow-lg shadow-slate-500 relative z-0 inline-block ">
        <img class="object-cover object-center realtive w-[300px]  h-[300px] " src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Hopetoun_falls.jpg/640px-Hopetoun_falls.jpg" alt="">
      </div>
      <div id="b3" class=" hidden bg-black p-4 bg-opacity-40 w-[300px] absolute z-20 bottom-0 h-[100px]">
          <center>
      <h1 class="text-white underline underline-offset-8 ">
        Nature
      </h1>
      
      <p class="text-white text-sm font-thin mt-2 tracking-tight">
        Nature is an inherent character or constitution,[1] particularly of the ecosphere 
      </p>
      </center>
      </div>
    </div>

<!-- 4 -->

<div class="  w-[300px] h-[300px] hover:opacity-80  shadow-lg overflow-hidden  backdrop-filter backdrop-blur-sm bg-opacity-20 rounded-l-3xl  bg-white">
    <div id="w4" class=" shadow-lg shadow-slate-500 relative z-0 inline-block ">
        <img class="object-cover object-center realtive w-[300px]  h-[300px] " src="https://m.media-amazon.com/images/M/MV5BNzRiMjg0MzUtNTQ1Mi00Y2Q5LWEwM2MtMzUwZDU5NmVjN2NkXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg" alt="">
      </div>
      <div id="b4" class=" hidden bg-black p-4 bg-opacity-40 w-[300px] absolute z-20 bottom-0 h-[100px]">
          <center>
      <h1 class="text-white underline underline-offset-8 ">
        Deadpool & Wolverine 
      </h1>
      
      <p class="text-white text-sm font-thin mt-2 tracking-tight">
        Deadpool and Wolverine, produced by Marvel Studios, Maximum Effort, and 21 Laps     
      </p>
      </center>
      </div>
    </div>

</div>

<!-- 2 card -->
<div id="constchris" class="flex justify-center items-center mt-2 gap-2">
    <!-- 1 -->
<div class=" whiteline w-[300px] h-[300px] shadow-lg  hover:opacity-80   overflow-hidden backdrop-filter backdrop-blur-sm bg-opacity-20 rounded-bl-full  bg-white" >

    <div id="w5" class=" shadow-lg shadow-slate-500 relative z-0 inline-block ">
        <img class="object-cover object-center realtive w-[300px]  h-[300px] " src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/ChrisEvans2023.jpg/330px-ChrisEvans2023.jpg" alt="">
      </div>
      <div id="b5" class=" hidden  bg-black p-4 bg-opacity-40 w-[300px] absolute z-20 top-0 h-[100px]">
          <center>
      <h1 class="text-white underline underline-offset-8 ">
        Chris Evans 
      </h1>
      
      <p class="text-white text-sm font-thin mt-2 tracking-tight">
        is an American actor. He began his career with roles in television series such as Opposite Sex
      </p>
      </center>
      </div>
</div>
<!-- 2 -->
<div class="  w-[300px] h-[300px] shadow-lg hover:opacity-80  overflow-hidden backdrop-filter backdrop-blur-sm bg-opacity-20 rounded-tr-3xl  bg-white">
    <div id="w6" class=" shadow-lg shadow-slate-500 relative z-0 inline-block ">
        <img class="object-cover object-center realtive w-[300px]  h-[300px] " src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Salman_Khan_in_2023_%281%29_%28cropped%29.jpg/330px-Salman_Khan_in_2023_%281%29_%28cropped%29.jpg" alt="">
      </div>
      <div id="b6" class=" hidden bg-black p-4 bg-opacity-40 w-[300px] absolute z-20 bottom-0 h-[100px]">
          <center>
      <h1 class="text-white underline underline-offset-8 ">
        Salman Khan
      </h1>
      
      <p class="text-white text-sm font-thin mt-2 tracking-tight">
        Khan began his acting career with a supporting role in Biwi Ho To Aisi (1988),
      </p>
      </center>
      </div>
    </div>

<!-- 3 -->
<div class="  w-[300px] h-[300px] shadow-lg overflow-hidden hover:opacity-80  backdrop-filter backdrop-blur-sm bg-opacity-20 rounded-r-3xl  bg-white">
    <div id="w7" class=" shadow-lg shadow-slate-500 relative z-0 inline-block ">
        <img class="object-cover object-center realtive w-[300px]  h-[300px] " src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcQtKP-JwQKfgLnT13usUTfMxCatdzOwkCq9bdhzwl2kIY07T7MD77ZRa0e9BpENqUALWWQ7WnP2pF1ObyvCxbKmU3bZc8zbOQZ_0z9owA" alt="">
      </div>
      <div id="b7" class=" hidden bg-black p-4 bg-opacity-40 w-[300px] absolute z-20 bottom-0 h-[100px]">
          <center>
      <h1 class="text-white underline underline-offset-8 ">
        Ladakh
      </h1>
      
      <p class="text-white text-sm font-thin mt-2 tracking-tight">
        is a region administered by India 
      </p>
      </center>
      </div>
    </div>

<!-- 4 -->

<div class="  w-[300px] h-[300px] shadow-lg overflow-hidden  hover:opacity-80   backdrop-filter backdrop-blur-sm bg-opacity-20 rounded-l-3xl  bg-white">
    <div id="w8" class=" shadow-lg shadow-slate-500 relative z-0 inline-block ">
        <img class="object-cover object-center realtive w-[300px]  h-[300px] " src="https://img.veenaworld.com/wp-content/uploads/2023/01/shutterstock_2044050407.jpg" alt="">
      </div>
      <div id="b8" class="  hidden  bg-black p-4 bg-opacity-40 w-[300px] absolute z-20 bottom-0 h-[100px]">
          <center>
      <h1 class="text-white underline underline-offset-8 ">
        Jammu and Kashmir
      </h1>
      
      <p class="text-white text-sm font-thin mt-2 tracking-tight">
        abbreviated as AJK and colloquially referred to as simply Azad Kashmir, 
      </p>
      </center>
      </div>

</div>
</div>

</div>

<section class="">
<!--  article -->
 
<!-- frontend article -->
 <!-- api calling start -->

<div id="contback" class="main4 mt-20 w-full h-auto bg-white bg-opacity-10 rounded-xl  py-8  md:mt-20 md:w-full md:h-auto md:bg-black md:bg-opacity-10 md:rounded-3xl md:border-none md:px-10 md:py-10  ">

<div id="contapi" class=" flex  flex-col justify-center w-full items-center gap-14  md:w-full  md:flex md:flex-row md:items-center md:justify-between  md:w-full   ">

      <% artic.forEach(function(art){ %>
 
        <div class="w-[300px] h-[450px] tracking-tight hover:opacity-90    md:rounded-xl md:w-[300px] md:h-[450px] md:tracking-tight md:hover:opacity-90    md:rounded-xl ">
            <div class="overflow-hidden w-[300px] inline-block rounded-xl md:overflow-hidden md:w-[300px] md:inline-block md:rounded-xl">
                <img class="w-[300px] h-[250px] object-cover object-top text-base text-white font-thin md:w-[300px] md:h-[250px] md:object-cover md:object-top md:text-base md:text-white md:font-thin" src="<%=art.image%>" alt="Image are not show becouse of api are not provide correct url">
            </div>
        
            <!-- heading -->
        <div class="mt-2 w-[300px] h-[100px] items-center overflow-hidden  inline-block px-4 md:mt-2 md:w-[300px] md:h-[100px] md:items-center md:overflow-hidden  md:inline-block md:px-4 ">
            <h1 class="text-white text-base font-semibold md:text-white md:text-base md:font-semibold"><%=art.title%> </h1>
            
            <p class="text-xs font-thin text-white mt-2 md:text-xs md:font-thin md:text-white md:mt-2">
                <%=art.description%>
            </p>
        </div>
            <div class="border-[1px]  border-slate-400  mt-4 block md:border-[1px]  md:border-slate-400  md:mt-4 md:block "></div>
            <center>
                <div>
            <button class="px-20 items-center mt-4  rounded-2xl border-2 py-1 md:px-20 md:items-center md:mt-4  md:rounded-2xl md:border-2 md:py-1" type="submit">
               <a href="/all"> <h1 class="text-base  font-thin md:text-base  md:font-thin  "> 
                <h1 class="text-white md:text-white ">
                    Read More
                </h1>
            </a>
            </button>
        </div>
        </center>
     
        
        </div>
         
     
     <% }) %>





<!-- api calling khtm -->


<!-- ,,,,,, -->
</div>
<!-- hogya -->


<!-- headity created by user -->
<center>
    <div class="mt-8 mb-12 border-t-[1px] md:mt-8 md:mb-12 md:border-t-0 "> 
        <h1 class="text-3xl font-semibold text-white  capitalize mt-4 md:text-4xl md:font-semibold md:text-white  md:capitalize md:mt-4  "> created by you </h1>
    </div>
    </center>



    <!-- create by user   -->


<div id="dv" class="flex flex-col  mt-4 justify-center items-center  gap-14    overflow-x-scroll md:flex md:flex-row md:items-center  md:mt-4 md:justify-between md:gap-14  md:mt-32  md:overflow-x-scroll  ">

<% client.forEach(function(client){ %>
    
   <div class="w-[300px] h-[500px] tracking-tight rounded-xl  hover:opacity-80 ">
            <div class="overflow-hidden w-[300px] inline-block rounded-xl">
                <img class="w-[300px] h-[250px] object-cover text-white capitalize font-thin text-base object-top"  src="<%=client.url%>" alt =" image are not show because you are not enter correct url ">
            </div>
        
            <!-- heading -->
        <div class="mt-2  px-4 w-[300px] h-[150px] overflow-hidden  ">
            <h1 class="text-white text-md capitalize underline font-semibold"> <%=client.bio%> </h1>
            
            <p class="text-xs font-thin text-white mt-2   ">
                <%=client.detail%>
            </p>
        </div>
            <div class="border-[1px] w-[300px] border-slate-400 mt-4 block "></div>
           
            <center>
            <div class=" w-[200px] px-2 py-2 items-center flex gap-6 mt-4 rounded-2xl border-2 py-1" type="submit">
                <a href="/read"> 
                    <h1 class="text-base ml-4 text-slate-300 font-semibold block "> 
                    Read More
                </h1>
            </a>

            <a href="/delete/<%=client.id%>">
                <h1 class="text-white text-base font-semibold block">
                    Delete
                </h1>
            </a>
        </div>
        </center>
       
        
        </div>
    
<% }) %>

</div>

</div>

<!-- hogya -->


<!-- user input -->


<!-- user input div -->
<div id="contcreate" class="main5 mt-20 w-full border-[1px] h-auto rounded-3xl pb-10 bg-black bg-opacity-20 md:border-0 md:mt-20 md:w-full md:h-auto md:rounded-3xl md:pb-10 md:bg-black md:bg-opacity-20">
<div class="px-6 py-6 md:px-12 md:py-12 ">
    <center>
    <div class="mt-10 md:mt-10">

        <h1 class="text-white text-xl font-semibold capitalize md:text-white md:text-4xl md:font-semibold md:capitalize">create your article</h1>
        <br>
        <p class="text-white text-xs font-thin md:text-white md:text-md md:font-thin">
         
            Artics is worth exploring for its rich and engaging content.
        </p>
        </center>
    </div>
    <!-- form -->
     <center>
<div class=" py-10 md:py-10 ">

<form class="flex flex-col gap-8 items-center md:flex md:flex-col md:gap-8 md:items-center " action="/create" method="post">

<input class="w-[220px] outline-none h-[15px] py-6 px-4 rounded-lg  md:w-[400px] md:outline-none md:h-[30px] md:py-8 md:px-4 md:rounded-lg" type="url" placeholder="Enter your image url " name="url" id="">

<input class="w-[220px] outline-none h-[15px] py-6 px-4 rounded-lg  md:w-[400px] md:outline-none md:h-[30px] md:py-8 md:px-4 md:rounded-lg" type="text" placeholder="Enter Your Topic" name="bio" id="">

<textarea class="w-[220px] outline-none h-[30px] py-12 px-4 rounded-lg  md:w-[400px] md:outline-none md:h-[30px] md:py-8 md:px-4 md:rounded-lg" placeholder="Enter about your topic" name="detail" id=""></textarea>

<input id="ck" class="px-2 hidden hover:bg-black  shadow hover:shadow-xs  hover:shadow-slate-200 hover:text-white py-4 bg-white w-[220px] outline-none rounded-lg px-2 md:hidden md:hover:bg-black  md:shadow md:hover:shadow-xs  md:hover:shadow-slate-200 md:hover:text-white md:py-4 md:bg-white md:w-[400px] md:outline-none md:rounded-lg" type="submit" placeholder="Submit" value="Submit">
</form>

</div>
<a id="bn" class="" href="/signup">
<input  class="px-2  py-4 bg-white w-[220px] outline-none rounded-lg px-2  md:py-2 md:bg-white md:w-[400px] md:outline-none md:rounded-lg " type="submit"  value="Signin">
  
    
  </a>  


</center>
</div>

<!-- form end -->



<!-- start slider review div -->

<div id="contrew" class="w-full h-auto  mt-32 md:w-full md:h-[450px] md:mt-32 ">
    <div   class=" w-full px-0 py-0  rounded-xl  md:w-full md:px-8 md:py-8  md:rounded-xl ">
      <div class="splide ">
        <div class="splide__track">

          <ul class="splide__list">
<!-- 1 -->
            <li class="splide__slide">
              <div class="h-[150px]  w-[200px]  ml-10  rounded-md md:h-[300px]  md:w-[450px]  md:ml-24  md:rounded-md">
                
                <div class="h-[100px]  w-[200px] px-2 rounded-t-xl backdrop-blur-3xl bg-gradient-to-r from-gray-900 via-black to-blue-500   flex items-center justify-center gap-4 py-2   md:h-[200px]  md:w-[450px] md:px-4 md:rounded-t-2xl md:backdrop-blur-3xl md:bg-gradient-to-r from-gray-900 via-black to-blue-500   md:flex md:items-center md:justify-center md:gap-8 md:py-4">

                    <img class="w-[50px] h-[50px] rounded-full object-cover object-top md:w-[100px] md:h-[100px] md:rounded-full md:object-cover md:object-top" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/12137/production/_105793047_34cephaswilliamsfinalimagesmaller.jpg" alt="" srcset="">
<div class="inline   rounded-lg shadow-md shadow-slate-500 py-2 md:inline md:px-4  md:rounded-lg md:shadow-md md:shadow-slate-500 md:py-2">
<h1 class="text-[4px] text-white  font-bold md:text-lg md:text-white  md:font-bold">
    chrislastr adajuno
</h1>
</div>
                </div>
<div class="h-[40px] w-[200px] md:h-[80px] md:w-[450px]   ">
<div class="md:border-[1px] md:w-[450px] md:mt-4 border-[1px] w-[200px] mt-2"></div>

<div class="mt-2 px-2 py-2 rounded-b-xl  bg-gradient-to-r from-amber-100 via-amber-400 to-yellow-400   md:mt-4  md:px-4  md:py-4  md:rounded-b-xl   md:bg-gradient-to-r from-amber-100 via-amber-400 to-yellow-400 ">
    <p class="tracking-tight font-semibold text-[5px] text-black md:tracking-tight md:font-semibold md:text-xs md:text-black">
        The design is modern and visually appealing, with a focus on readability. The use of images and multimedia enhances the overall experience 
    </p>
</div>
</div>


              </div>
            </li>
            <!-- 2 -->
            <li class="splide__slide">
                <div class="h-[150px]  w-[200px]  ml-20  rounded-md md:h-[300px]  md:w-[450px]  md:ml-24  md:rounded-md">
                  
                  <div class="h-[100px]  w-[200px] px-4 rounded-t-2xl backdrop-blur-3xl bg-gradient-to-r from-gray-900 via-black to-blue-500   flex items-center justify-center gap-8 py-4   md:h-[200px]  md:w-[450px] md:px-4 md:rounded-t-2xl md:backdrop-blur-3xl md:bg-gradient-to-r from-gray-900 via-black to-blue-500   md:flex md:items-center md:justify-center md:gap-8 md:py-4">
  
                      <img class="w-[50px] h-[50px] rounded-full object-cover object-top md:w-[100px] md:h-[100px] md:rounded-full md:object-cover md:object-top" src="https://img.freepik.com/premium-photo/happy-professional-asian-female-manager-businesswoman-suit-showing-announcement-smiling-pointing-finger-left-product-project-banner-standing-white-background_1258-62731.jpg" alt="" srcset="">
  <div class="inline   rounded-lg shadow-md shadow-slate-500 py-2 md:inline md:px-4  md:rounded-lg md:shadow-md md:shadow-slate-500 md:py-2">
  <h1 class="text-[4px] text-white  font-bold md:text-lg md:text-white  md:font-bold">
    dillpickle zephyreris
  </h1>
  </div>
                  </div>
  <div class="h-[40px] w-[200px] md:h-[80px] md:w-[450px]   ">
  <div class="md:border-[1px] md:w-[450px] md:mt-4 border-[1px] w-[200px] mt-2"></div>
  
  <div class="mt-2 px-2 py-2 rounded-b-xl  bg-gradient-to-r from-amber-100 via-amber-400 to-yellow-400   md:mt-4  md:px-4  md:py-4  md:rounded-b-xl   md:bg-gradient-to-r from-amber-100 via-amber-400 to-yellow-400 ">
      <p class="tracking-tight font-semibold text-[5px] text-black md:tracking-tight md:font-semibold md:text-xs md:text-black">
        The website is easy to navigate, with a clean and intuitive layout. Categories are well-organized
      </p>
  </div>
  </div>
  
  
                </div>
              </li>
<!-- 3 -->
<li class="splide__slide">
    <div class="h-[150px]  w-[200px]  ml-40  rounded-md md:h-[300px]  md:w-[450px]  md:ml-24  md:rounded-md">
      
      <div class="h-[100px]  w-[200px] px-4 rounded-t-2xl backdrop-blur-3xl bg-gradient-to-r from-gray-900 via-black to-blue-500   flex items-center justify-center gap-8 py-4   md:h-[200px]  md:w-[450px] md:px-4 md:rounded-t-2xl md:backdrop-blur-3xl md:bg-gradient-to-r from-gray-900 via-black to-blue-500   md:flex md:items-center md:justify-center md:gap-8 md:py-4">

          <img class="w-[50px] h-[50px] rounded-full object-cover object-top md:w-[100px] md:h-[100px] md:rounded-full md:object-cover md:object-top" src="https://c1.wallpaperflare.com/preview/472/306/455/rishi-gangoly-man-indian-professional-male-thinking.jpg" alt="" srcset="">
<div class="inline   rounded-lg shadow-md shadow-slate-500 py-2 md:inline md:px-4  md:rounded-lg md:shadow-md md:shadow-slate-500 md:py-2">
<h1 class="text-[4px] text-white  font-bold md:text-lg md:text-white  md:font-bold">
    Arvindran Dey
</h1>
</div>
      </div>
<div class="h-[40px] w-[200px] md:h-[80px] md:w-[450px]   ">
<div class="md:border-[1px] md:w-[450px] md:mt-4 border-[1px] w-[200px] mt-2"></div>

<div class="mt-2 px-2 py-2 rounded-b-xl  bg-gradient-to-r from-amber-100 via-amber-400 to-yellow-400   md:mt-4  md:px-4  md:py-4  md:rounded-b-xl   md:bg-gradient-to-r from-amber-100 via-amber-400 to-yellow-400 ">
<p class="tracking-tight font-semibold text-[5px] text-black md:tracking-tight md:font-semibold md:text-xs md:text-black">
    Artics covers a broad spectrum of topics, ensuring there's something for everyone. Whether you're interested in technology,
</p>
</div>
</div>


    </div>
  </li>

  <!-- 4 -->

  <li class="splide__slide">
    <div class="h-[150px]  w-[200px]  ml-62  rounded-md md:h-[300px]  md:w-[450px]  md:ml-24  md:rounded-md">
      
      <div class="h-[100px]  w-[200px] px-4 rounded-t-2xl backdrop-blur-3xl bg-gradient-to-r from-gray-900 via-black to-blue-500   flex items-center justify-center gap-8 py-4   md:h-[200px]  md:w-[450px] md:px-4 md:rounded-t-2xl md:backdrop-blur-3xl md:bg-gradient-to-r from-gray-900 via-black to-blue-500   md:flex md:items-center md:justify-center md:gap-8 md:py-4">

          <img class="w-[50px] h-[50px] rounded-full object-cover object-top md:w-[100px] md:h-[100px] md:rounded-full md:object-cover md:object-top" src="https://media.istockphoto.com/id/1540766473/photo/young-adult-male-design-professional-smiles-for-camera.webp?b=1&s=170667a&w=0&k=20&c=y2ojpSYhJlE51oxRsJFnbJ5oPRzazCjkdqRuYWWXpjc=" alt="" srcset="">
<div class="inline px-2  rounded-lg shadow-md shadow-slate-500 py-2 md:inline-block md:px-4 md:py-2 md:shadow-md md:shadow-slate-500 ">
<h1 class="text-[4px] text-white  font-bold md:text-lg md:text-white  md:font-bold">
    Aarav Kapoor
</h1>
</div>
      </div>
<div class="h-[40px] w-[200px] md:h-[80px] md:w-[450px]   ">
<div class="md:border-[1px] md:w-[450px] md:mt-4 border-[1px] w-[200px] mt-2"></div>

<div class="mt-2 px-2 py-2 rounded-b-xl  bg-gradient-to-r from-amber-100 via-amber-400 to-yellow-400   md:mt-4  md:px-4  md:py-4  md:rounded-b-xl   md:bg-gradient-to-r from-amber-100 via-amber-400 to-yellow-400 ">
<p class="tracking-tight font-semibold text-[5px] text-black md:tracking-tight md:font-semibold md:text-xs md:text-black">
    The articles are well-written, with clear, concise, and engaging language. Contributors include experts and passionate writers
</p>
</div>
</div>


    </div>
  </li>


              <!-- khtm -->
          </ul>
          <div class="my-slider-progress">
            <div class="my-slider-progress-bar"></div>
          </div>
        </div>
    </div>
</div>

</div>

<!-- footer -->
    <div id="cont2" class="mt-24  w-full bg-black h-[220px]  flex justify-center rounded-t-lg gap-5 p-2 items-center md:mt-20 md:w-full md:bg-black md:h-[400px]  md:flex md:justify-center md:rounded-t-lg md:gap-10 md:items-center">
        <div class="w-[300px] h-[150px]  px-4 md:w-[600px] md:h-[300px]  md:px-4">
            <div id="content1">
                <h1 class="font-semibold text-xs text-white capitalize  md:font-semibold md:text-4xl md:text-white md:capitalize  ">
                    Artics - our mission is to inform, inspire  and entertain.
                </h1>
                <br>
                <p class="font-thin text-[5px] text-white md:font-thin md:text-lg md:text-white">
                    Artics stands out as a versatile and user-friendly article website that caters to a wide array of interests
                </p>
<div id="follow" class="mt-5 md:mt-14  ">
                <a class="w-[50px] px-3 rounded-xl py-2 bg-blue-500 text-white  text-xs font-semibold hover:bg-black hover:border-[1px] md:w-[100px] md:px-6 md:rounded-3xl md:py-4 md:bg-blue-500 md:text-white  md:text-base md:font-semibold md:hover:bg-black md:hover:border-[1px]   " href="#">
                    Follow 
                </a>
            </div>
            </div>
        </div>
<div id="contartimg" class="w-[150px] pr-2 h-[100px] bg-red-500 rounded-full gap-2 flex items-center md:w-[600px] md:h-[200px] md:bg-red-500 md:rounded-full md:gap-2 md:flex items-center">

<div class="w-[400px] rounded-r-lg px-1 py-1 bg-black md:w-[400px] md:rounded-r-lg md:px-2 md:py-2 md:bg-black ">

</div>

<div class="w-[250px] bg-white rounded-full h-[50px] overflow-hidden md:w-[150px] md:bg-white md:rounded-full md:h-[150px] md:overflow-hidden  ">
<img src="https://logopond.com/avatar/290451/NEWARTA.jpg" alt="" srcset="">

</div>

</div>


    </div>


<!-- copycat -->

    <div id="copy" class=" py-1 bg-black mt-0 text-center md:py-2  md:text-center">
        <p class="text-white text-xs font-thin">&copy; 2024 Artics . All rights reserved.</p>
      </div>



    </section>

<!-- lastdiv -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../javascript/front.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script>


    var splide = new Splide( '.splide', {
        type   : 'loop',
        perPage: 2,
        focus  : '',
      } );
      
      splide.mount();


    var tl = gsap.timeline()
       // artics

    tl.from("#conta h1",{
        opacity:0,
        duration:0.5,
        
        y:-30
        
    })

// link nav bar

tl.from("#contnavl a",{
    opacity:0,
    duration:0.8,
   y:-20,
    stagger:0.4
})

//login
tl.from("#sign",{
    opacity:0,
    duration:0.3,
   x:20 

})

//discover

tl.from("#contd",{
    opacity:0,
    duration:0.3,
    x:-20
})

// dicover image

tl.from("#contd img",{
    opacity:0,
    duration:0.3,
   y:-20,
    stagger:0.3
})

// dicover paragraph

tl.from("#contd p",{
    opacity:0,
    duration:0.3,
    y:-20
    

})

tl.from("#contui",{
    opacity:0,
    duration:0.3,
    x:-20
    

})

tl.from("#contuih",{
    opacity:0,
    duration:1,
    y:20
})

tl.from("#contuid h1",{
    opacity:0,
    duration:0.3,
    y:20
    

})

tl.from("#contuid p",{
    opacity:0,
    duration:0.3,
    y:-20
    

})

gsap.from("#contsharuk div",{
    duration:1,
    y:-200,
    opacity:0,
    stagger:0.2,
    scrollTrigger:{
        trigger:"#contsharuk div",
        scroller:"body",
        
        start:"top 30%"

    }
    

})

gsap.from("#constchris div",{
    duration:1,
    y:200,
    opacity:0,
    stagger:0.2,
    scrollTrigger:{
        trigger:"#constchris div",
        scroller:"body",
        
        start:"top 90%"

    }
    

})


gsap.from("#contapi div",{
    duration:0.8,
    y:-200,
    opacity:0,
  stagger:0.3,
   
    scrollTrigger:{
        trigger:"#contapi div",
        scroller:"body",
        
        start:"top 40%"

    }
    

})
 

gsap.from("#dv div",{
    duration:0.8,
    y:-200,
    opacity:0,
  stagger:0.3,
   
    scrollTrigger:{
        trigger:"#dv div",
        scroller:"body",
        
        start:"top 40%"

    }
    

})


gsap.from("#contcreate",{
    duration:0.8,
    x:-200,
    opacity:0,
 
   
    scrollTrigger:{
        trigger:"#contcreate",
        scroller:"body",
        
        start:"top 40%"

    }
    

})


gsap.from("#contrew",{
    duration:0.8,
    x:-200,
    opacity:0,
 
   
    scrollTrigger:{
        trigger:"#contrew",
        scroller:"body",
        
        start:"top 40%"

    }
    

})



gsap.from("#follow",{
    x:-100,
    opacity:0,
    duration:1,
    
    scrollTrigger:{
        trigger:"#follow",
        scroller:"body",
        
        start:"top 90%"

    }


})

gsap.from("#content1 h1",{
    y:-100,
    opacity:0,
    duration:1,
    
    scrollTrigger:{
        trigger:"#content1 h1",
        scroller:"body",
        
        start:"top 90%"

    }


})

gsap.from("#content1 p",{
    y:-100,
    opacity:0,
    duration:1,
    delay:0.5,
  
  
    scrollTrigger:{
        trigger:"#content1 p",
        scroller:"body",
        
        start:"top 90%"

    }


})



















</script>

</body>
</html>